@import 'material-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
* {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    /* font-family: 'Product Sans', sans-serif; */
}
*::selection {
    color: var(--back-blue-color-a1-800);
    background-color: var(--back-blue-color-a1-200);
}
.link::selection {
    color: var(--back-blue-color-a3-800);
    background-color: var(--back-blue-color-a3-200);
}
a::selection {
    color: var(--back-blue-color-a3-800);
    background-color: var(--back-blue-color-a3-200);
}
.time::selection {
    color: var(--back-blue-color-a3-800);
    background-color: var(--back-blue-color-a3-200);
}
code::selection {
    color: var(--back-blue-color-n2-800);
    background-color: var(--back-blue-color-n2-200);
}
html, body {
    position: relative;
}
main {
    color: var(--back-blue-color-a2-100);
    background-color: var(--back-blue-color-n1-900);
    border-radius: 15px;
    margin: 8px;
    padding: 60px;
}
body {
    height: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    background-color: var(--back-blue-color-n1-900);
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: var(--back-blue-color-a1-600);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--back-blue-color-a1-300);
    border-radius: 5px;
    border: 3px solid var(--back-blue-color-a1-600);
}
.body_hide {
	opacity: 0;
	transition: .5s opacity ease-in-out;
}
.body_visible {
	opacity: 1;
}
@media only screen and (min-width: 1001px) {
    body {
        font-size: 120%
    }
}
.navbar {
    align-items: center;
    text-align: center;
    left: 0;
    justify-content: space-between;
    width: 100%;
    display: flex;
    top: 0;
    position: fixed;
    padding: 0;
    z-index: 2;
    font-size: 20px;
    overflow: auto;
    transition: 0.2s;
    /* transform: translateY(-150%);
    animation: ani 1s forwards; */
}
/* @keyframes ani {
    0% {transform: translateY(-150%);}
    100% {transform: translateY(0);}
  } */
.menu {
    margin: 20px 66px 20px 20px;
    text-align: center;
    display: flex;
    list-style: none;
    align-items: center;
}
.menu li a {
    position: relative;
    margin: 4px;
    display: inline-flex;
    border-radius: 10px;
    color: var(--back-blue-color-n1-200);
    text-decoration: none;
    transition: all 0.2s;
}
.menu li a.active {
    display: inline-flex;
    border-radius: 10px;
    background-color: var(--back-blue-color-a1-200);
    color: var(--back-blue-color-a1-800);
    top: 0;
    transition: all 0.2s;
}
.menu li a:hover {
    border-radius: 30px;
    background-color: var(--back-blue-color-a3-800);
    color: var(--back-blue-color-a3-100);
    transition: all 0.2s;
}
.menu li a:active {
    display: inline-flex;
    border-radius: 30px;
    background-color: var(--back-red-a1-800);
    color: var(--back-red-a1-200);
    transition: all 0.2s;
}
.menu li a.inactive {
    display: inline-flex;
    border-radius: 10px;
    background-color: var(--back-red-a1-800);
    color: var(--back-red-a1-200);
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: flex;
}
nav ul li a {
    display: flex;
    padding: 10px;
}
ol {
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
}
.popup {
    display: none;
}
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40;
    transition: all 0.2s;
}
.material-symbols-rounded:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40;
    transition: all 0.2s;
}
.material-symbols-rounded.active {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40;
}
.switch {
    width: auto;
    border: none;
    border-top: 1px solid var(--back-blue-color-a1-200);
    border-radius: 50px;
    text-decoration: none;
    color: var(--back-blue-color-a1-100);
    display: flex;
    background-color: var(--back-blue-color-a1-800);
    position: fixed;
    height: auto;
    bottom: 8px;
    right: 8px;
    padding: 18px;
    font-size: 20px;
    z-index: 2;
    transition: all 0.2s;
}
.switch:hover {
    border: none;
    border-top: 1px solid var(--back-blue-color-a1-200);
    text-decoration: none;
    background-color: var(--back-blue-color-a1-700);
    color: var(--back-blue-color-a1-100);
    transition: all 0.2s;
    animation-duration: 5s;
}
button {
    float: right;
    user-select: none;
    align-items: center;
    border-radius: 5em;
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--back-blue-color-a1-200);
    padding: 10px 12px;
    text-align: center;
    font-size: 18px;
    color: var(--back-blue-color-a1-200);
    background-color: var(--back-blue-color-a1-800);
    transition: background all .25s ease-out;
    -o-transition: background all .25s ease-out;
    -moz-transition: background all .25s ease-out;
    -webkit-transition: background all .25s ease-out;
}
button:hover {
    background-position:100px; 
    border: 1px solid var(--back-blue-color-a3-200);
    color: var(--back-blue-color-a3-200);
    background-color: var(--back-blue-color-a3-800);
    transition: all 0.2s;
}
.wave {
    background: var(--back-blue-color-a2-600);
    border-radius: 100%;
    transform: scale(0);
    animation: wave .4s linear;
    pointer-events: none;
    position: absolute;
}
@keyframes wave {
    100% {
    transform: scale(2);
    opacity: 0;
    }
}
.button-footer {
    width: 100%;
    float: none;
    font-size: 16px;
    padding: 7px;
    font-size: 12px;
    transition: all 0.2s;
}
.github-button {
    border: 1px solid var(--back-blue-color-n1-200);
    color: var(--back-blue-color-n2-200);
    background-color: var(--back-blue-color-n2-800);
    transition: all 0.2s;
}
.yt-button {
    border: 1px solid var(--back-red-a1-200);
    color: var(--back-red-a1-200);
    background-color: var(--back-red-a1-800);
    transition: all 0.2s;
}
.customization-button {
    margin-top: 5px;
    width: 100%;
}
h1, h2 {
    font-weight: 500;
    color: var(--back-blue-color-a1-200);
}
footer {
    margin-top: 100%;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 1em;
    margin: 8px;
    padding: 0 60px 0 60px;
    border-radius: 15px;
    color: var(--back-blue-color-a1-100);
}
.footer-section-info {
    border-radius: 15px;
    background-color: var(--back-blue-color-a1-700);
    padding: 20px;
}
.footer-section-link {
    border-radius: 15px;
    background-color: var(--back-blue-color-a1-700);
    padding: 20px;
}
.button-footer-pillars {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 1em;
}
.yt {
    margin: 15px;
    border-radius: 15px;
    transition: 0.2s;
}
.time {
    color: var(--back-blue-color-a3-200);
}
.link {
    text-decoration: none;
    color: var(--back-blue-color-a3-200);
}
.link:hover {
    text-decoration: underline;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--back-blue-color-a1-700);
    border-radius: 15px;
    padding: 8px;
}
.container h2 {
    text-align: center;
} 
.form-back {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    background-color: var(--back-blue-color-a1-700);
    border-radius: 10px;
}
.text-container {
    background-color: var(--back-blue-color-a1-800);
    border-radius: 10px;
}
.inactive-container {
    background-color: #00000000;
}
.container-with-link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background-color: var(--back-blue-color-a1-700);
    border-radius: 15px;
    transition: 0.2s;
}
.container-with-link h2 {
    text-align: center;
}
.container-with-link:hover {
    box-shadow: inset var(--back-blue-color-a2-200) 0 0 10px;
    transition: 0.2s;
}
.container-with-link:active {
    box-shadow: inset var(--back-blue-color-a2-200) 0 0 20px;
    transition: 0.2s;
}
.friends {
    padding: 8px;
    background-color: var(--back-blue-color-a1-700);
    border-radius: 15px;
    text-align: center;
    color: var(--back-blue-color-a2-100);
    transition: all 0.2s;
}
.friends-link {
    border: 1px solid var(--back-blue-color-a1-200);
    width: 88px;
    height: 31px;
    border-radius: 6px;
    transition: all 0.2s;
}
.friends-link:hover {
    box-shadow: 0 0px 10px var(--back-color-all-1);
    transition: all 0.2s;
    text-decoration: none;
}
.pillars {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.pillars-other {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.pillars-soft {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
}
.immutable-pillars {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
input {
    border-radius: 30px;
    margin-bottom: 5px;
    text-align: center;
    width: calc(100% - 8px);
    background-color: var(--back-blue-color-a1-800);
    color: var(--back-color-all-1);
    height: 30px;
    border: 2px solid var(--back-blue-color-a1-200);
    transition: all 0.2s;
}
a {
    color: var(--back-blue-color-a3-100);
    text-decoration: none;
}
details {
    background-color: var(--back-blue-color-a1-700);
    padding: 8px;
    border-radius: 15px;
}
details img {
    border-radius: 10px;
    border: 2px solid var(--back-blue-color-a1-200);
    transition: all 0.5s;
}
.instruction-list {
    overflow-x: auto;
    display: flex;
    border-radius: 10px;
    position: relative;
}
.instruction-list::-webkit-scrollbar {
    height: 10px;
}
.instruction-list::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--back-blue-color-a1-600);
}
.instruction-list::-webkit-scrollbar-thumb {
    background-color: var(--back-blue-color-a1-300);
    border-radius: 5px;
    border: 3px solid var(--back-blue-color-a1-600);
}
.step-by-step-instruction {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--back-blue-color-a1-600);
    margin: 8px;
}
code {
    color: var(--back-blue-color-n1-50);
}
.img1 {
    width: 600px;
    height: 562px;
}
.img2, .img4, .img6 {
    width: 600px;
    height: 313px;
}
.img3, .img5 {
    width: 600px;
    height: 222px;
}
.img7 {
    width: 320px;
    height: 222px;
}
.separator {
    display: block;
    width: 100%;
    height: 1px;
    margin: 5.1px auto;
    background-color: var(--back-blue-color-a1-200);
    transition: 0.3s;
}
summary {
    cursor: pointer;
    transition: all 0.2s;
}
summary::marker {
    color: var(--back-blue-color-a1-200);
    transition: all 0.2s;
}
.page-name {
    transition: 0.2s;
    align-items: center;
    display: flex;
    margin: 0 0 0 76px;
    color: transparent;
}
.navigation-list-name {
    margin: 0 0 0 14px;
}
.back-button {
    border: none;
    margin: 0 5px 0 0;
    align-items: center;
    text-align: center;
    width: auto;
    padding: 8px;
    display: inline-flex;
    background-color: #00000000;
    color: var(--back-blue-color-a1-50);
    border-radius: 50px;
    transition: 0.2s;
}
.back-button:hover {
    border: none;
    background-color: var(--back-blue-color-n1-700);
    color: var(--back-blue-color-a1-50);
    transition: 0.2s;
}
table {
    width: 100%;
}
td, th {
    padding: 8px;
    text-align: start;
}
.table-form {
    background-color: var(--back-blue-color-a1-800);
    border-radius: 5px;
}
.table-form-left-top {
    background-color: var(--back-blue-color-a1-800);
    border-radius: 12px 5px 5px 5px;
}
.table-form-right-top {
    background-color: var(--back-blue-color-a1-800);
    border-radius: 5px 12px 5px 5px;
}
.table-form-right-bottom {
    background-color: var(--back-blue-color-a1-800);
    border-radius: 5px 5px 12px 5px;
}
.table-form-left-bottom {
    background-color: var(--back-blue-color-a1-800);
    border-radius: 5px 5px 5px 12px;
}
@media (min-width: 768px) {
    nav {
        position: relative;
        top:-10px;
    }
    nav ul {
        max-height: 1px;
        padding: 12px 0;
        text-align: center;
    }
    nav ul li {
        display: inline-flex;
    }
}
@media (max-width: 1000px) {
    h1 {
        font-size: 250%;
    }
    .body_hide {
        opacity: 1;
    }
    .yt {
        width: auto;
        height: auto;
    }
    .switch {
        bottom: 16px;
        right: 16px;
    }
    .back-button {
        display: none;
    }
    .page-name {
        margin: 0 0 0 10px;
    }
    .form-back {
        padding: 10px;
        border-radius: 10px;
    }
    img {
        border: 1px solid var(--back-blue-color-a1-200);
        border-radius: 5px;
    }
    .img1 {
        width: 200px;
        height: 187px;
    }
    .img2, .img4, .img6 {
        width: 200px;
        height: 104px;
    }
    .img3, .img5 {
        width: 200px;
        height: 74px;
    }
    .img7 {
        width: 106px;
        height: 74px;
    }
    footer {
        padding: 0;
        font-size: 10px;
    }
    .form-back-with-link {
        border-radius: 10px;
    }
    .pillars {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    .pillars-other {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    .pillars-soft {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
    input {
        font-size: 10px;
        height: 14px;
        width: calc(100% - 10px);
    }
    textarea {
        margin-bottom: 5px;
        width: calc(100% - 8px);
    }
    button {
        width: 100%;
        padding: 8px 10px;
        height: 36px;
        font-size: 12px;
        border-radius: 36px;
    }
    .yt-button {
        padding: 8px 10px;
        height: 36px;
        font-size: 14px;
        width: 100%;
        border-radius: 36px;
    }
    .github-button {
        padding: 8px 10px;
        height: 36px;
        font-size: 14px;
        width: 100%;
        border-radius: 36px;
    }
    .button-footer {
        font-size: 10px;
        padding: 3px;
        height: 20px;
        width: 100%;
    }
    .button-footer-pillars {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-row-gap: 3px;
    }
    .footer-section-info {
        padding: 15px;
    }
    .footer-section-link {
        padding: 15px;
    }
    .friends-link {
        width: 66px;
        height: 23px;
    }
    body {
        font-size: 90%;
    }
    .header-in-header {
        padding: 5px;
        text-align: left;
    }
    main {
        padding: 50px 0 0 0;
    }
    html {
        font-size: 80%;
    }
    .navbar {
        flex-direction: row-reverse;
        position: fixed;
        align-items: center;
        justify-content: left;
        border-bottom: none;
        width: 100%;
        margin: 0;
        left: 0;
        top: 0;
        margin-right: 0%;
        transform: translate(0%, 0%);
        z-index: 4;
    }
    .navbar__wrap .menu {
        display: none;
    }
    .hamb {
        z-index: 3;
        display: flex;
        align-items: center;
    }
    .hamb__field {
        z-index: 3;
        border-radius: 0 0 15px 0;
        padding: 15px;
        cursor: pointer;
        background-color: var(--back-blue-color-n1-800);
    }
    .bar {
        z-index: 3;
        display: block;
        width: 30px;
        height: 3px;
        margin: 5.1px auto;
        background-color: var(--back-blue-color-a1-50);
        transition: 0.3s;
    }
    .popup {
        top: 0;
        border-radius: 0 15px 15px 0;
        padding: 70px 0 0 0;
        border-radius: 0px 15px 0px 5px;
        position: fixed;
        opacity: 0;
        left: -100%;
        height: 100%;
        background-color: var(--back-blue-color-n1-800);
        z-index: 3;
        justify-content: space-around;
        display: flex;
        overflow: auto;
        transition: 0.5s;
    }
    .popup li a {
        border-radius: 5px;
        align-items : center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        top: 0;
        transition: all 0.2s
    }
    .popup .menu::-webkit-scrollbar {
        width: 10px;
    }
    .popup .menu::-webkit-scrollbar-track {
        border-radius: 10px;
        background: var(--back-blue-color-a1-800);
    }
    .popup .menu::-webkit-scrollbar-thumb {
        background-color: var(--back-blue-color-a1-800);
        border-radius: 10px;
        border: 3px solid var(--back-blue-color-a1-800);
    }
    .popup.open {
        left: 0;
        opacity: 1;
    }
    .menu {
        margin: 0;
    }
    .popup .menu {
        text-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-right: 10px;
        padding-left: 0;
        overflow: auto;
    }
    .popup .menu li {
        text-align: center;
        width: 100%;
    }
    .menu li a {
        background-color: none;
        margin: 0;
    }
    .popup .menu li a {
        text-align: center;
        border-radius: 0 20px 20px 0;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .popup .menu li a:hover {
        text-align: center;
        border-radius: 0 20px 20px 0;
        top: 0;
        transition: all 0.2s
    }
    .popup .menu li a.active {
        display: flex;
        border-radius: 0 20px 20px 0;
        top: 0;
        transition: all 0.2s;
    }
    .popup .menu li a:active {
        display: flex;
        border-radius: 0 20px 20px 0;
        top: 0;
        transition: all 0.2s;
    }
    .hamb__field.active .bar:nth-child(2) {
        z-index: 3;
        background-color: var(--back-blue-color-a1-200);
        width: 30px;
    }
    .hamb__field.active .bar:nth-child(1) {
        z-index: 3;
        background-color: var(--back-blue-color-a1-200);
        transform: translate(-11px, 13px) rotate(-135deg);
        width: 17px;
    }
    .hamb__field.active .bar:nth-child(3) {
        z-index: 3;
        background-color: var(--back-blue-color-a1-200);
        transform: translate(-11px, -13px) rotate(135deg);
        width: 17px;
    }
    body.noscroll {
        overflow: hidden;
    }
}
